# Auth.js
AUTH_SECRET="your-auth-secret-here" # Generate with: openssl rand -base64 32

# SurrealDB
AUTH_SURREALDB_CONNECTION="http://127.0.0.1:8000"
AUTH_SURREALDB_USERNAME="root"
AUTH_SURREALDB_PASSWORD="root"
AUTH_SURREALDB_NAMESPACE="test"
AUTH_SURREALDB_DATABASE="test"
