surreal/mydb/clog/00000000000000000000.clog
surreal/mydb/database.db/000004.log
surreal/mydb/database.db/CURRENT
surreal/mydb/database.db/IDENTITY
surreal/mydb/database.db/LOCK
surreal/mydb/database.db/LOG
surreal/mydb/database.db/MANIFEST-000005
surreal/mydb/database.db/OPTIONS-000007
surreal/mydb/manifest/00000000000000000000.manifest
