.DS_Store
node_modules
/build
/dist
/.svelte-kit
/package
.env
.env.*
!.env.example
vite.config.js.timestamp-*
vite.config.ts.timestamp-*
.history
.vercel
.jampack
.idea
firebase-debug.log
firestore-emulator-data
data/pd0/hot-region/000002.log
data/pd0/hot-region/CURRENT
data/pd0/hot-region/CURRENT.bak
data/pd0/hot-region/LOCK
data/pd0/hot-region/LOG
data/pd0/hot-region/MANIFEST-000003
data/pd0/member/snap/db
data/pd0/member/wal/0000000000000000-0000000000000000.wal
data/pd0/member/wal/0.tmp
data/pd0/region-meta/000002.ldb
data/pd0/region-meta/000003.log
data/pd0/region-meta/CURRENT
data/pd0/region-meta/CURRENT.bak
data/pd0/region-meta/LOCK
data/pd0/region-meta/LOG
data/pd0/region-meta/MANIFEST-000004
data/pd1/hot-region/000002.log
data/pd1/hot-region/CURRENT
data/pd1/hot-region/CURRENT.bak
data/pd1/hot-region/LOCK
data/pd1/hot-region/LOG
data/pd1/hot-region/MANIFEST-000003
data/pd1/member/snap/db
data/pd1/member/wal/0000000000000000-0000000000000000.wal
data/pd1/region-meta/000002.ldb
data/pd1/region-meta/000003.log
data/pd1/region-meta/CURRENT
data/pd1/region-meta/CURRENT.bak
data/pd1/region-meta/LOCK
data/pd1/region-meta/LOG
data/pd1/region-meta/MANIFEST-000004
data/pd2/dashboard.sqlite.db
data/pd2/hot-region/000002.log
data/pd2/hot-region/CURRENT
data/pd2/hot-region/CURRENT.bak
data/pd2/hot-region/LOCK
data/pd2/hot-region/LOG
data/pd2/hot-region/MANIFEST-000003
data/pd2/member/snap/db
data/pd2/member/wal/0000000000000000-0000000000000000.wal
data/pd2/region-meta/000002.ldb
data/pd2/region-meta/000003.log
data/pd2/region-meta/CURRENT
data/pd2/region-meta/CURRENT.bak
data/pd2/region-meta/LOCK
data/pd2/region-meta/LOG
data/pd2/region-meta/MANIFEST-000004
data/tikv0/last_tikv.toml
data/tikv0/LOCK
data/tikv0/raftdb.info
data/tikv0/rocksdb.info
data/tikv0/space_placeholder_file
data/tikv0/db/000013.sst
data/tikv0/db/000015.sst
data/tikv0/db/000017.sst
data/tikv0/db/000018.sst
data/tikv0/db/000019.log
data/tikv0/db/CURRENT
data/tikv0/db/IDENTITY
data/tikv0/db/LOCK
data/tikv0/db/MANIFEST-000016
data/tikv0/db/OPTIONS-000012
data/tikv0/db/OPTIONS-000021
data/tikv0/raft-engine/0000000000000001.raftlog
data/tikv0/raft-engine/0000000000000001.rewrite
data/tikv0/raft-engine/LOCK
data/tikv1/last_tikv.toml
data/tikv1/LOCK
data/tikv1/raftdb.info
data/tikv1/rocksdb.info
data/tikv1/space_placeholder_file
data/tikv1/db/000013.sst
data/tikv1/db/000015.sst
data/tikv1/db/000017.sst
data/tikv1/db/000018.sst
data/tikv1/db/000019.log
data/tikv1/db/CURRENT
data/tikv1/db/IDENTITY
data/tikv1/db/LOCK
data/tikv1/db/MANIFEST-000016
data/tikv1/db/OPTIONS-000012
data/tikv1/db/OPTIONS-000021
data/tikv1/raft-engine/0000000000000001.raftlog
data/tikv1/raft-engine/0000000000000001.rewrite
data/tikv1/raft-engine/LOCK
data/tikv2/last_tikv.toml
data/tikv2/LOCK
data/tikv2/raftdb.info
data/tikv2/rocksdb.info
data/tikv2/space_placeholder_file
data/tikv2/db/000012.sst
data/tikv2/db/000014.sst
data/tikv2/db/000015.sst
data/tikv2/db/000016.sst
data/tikv2/db/000017.log
data/tikv2/db/CURRENT
data/tikv2/db/IDENTITY
data/tikv2/db/LOCK
data/tikv2/db/MANIFEST-000013
data/tikv2/db/OPTIONS-000012
data/tikv2/db/OPTIONS-000019
data/tikv2/raft-engine/0000000000000001.raftlog
data/tikv2/raft-engine/0000000000000001.rewrite
data/tikv2/raft-engine/LOCK
logs/pd0.log
logs/pd1.log
logs/pd2.log
logs/tikv0.log
logs/tikv1.log
logs/tikv2.log
