@import './scrollbar-color.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

/* NPROGRESS MODIFICATIONS */
#nprogress .bar {
    background: #19331D !important;
    /*height: 10px !important;*/
}

#nprogress .peg {
    box-shadow: none !important;
}

#nprogress .spinner-icon {
    border-top-color: #19331D;
    border-left-color: #19331D;
}

