COMPOSE_PROJECT_NAME=topsveltekit

# Database URL format for docker-compose
# *************************
#* Database               *
# *************************
DB_HOST=localhost
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=postgres
DB_NAME=topsveltekit


# AUTH
# DATABASE CONNECTIONS FOR AUTH.JS ADAPTER run with `npx auth secret`
AUTH_SECRET="" # Added by `npx auth`. Read more: https://cli.authjs.dev

AUTH_GOOGLE_ID = ""
AUTH_GOOGLE_SECRET = ""

# Resend API key
AUTH_RESEND_KEY="re_"
