# *************************
#* Production database   *
# *************************
DB_HOST=
DB_PORT=
DB_USER=
DB_PASSWORD=
DB_NAME=

DB_SSL=false
MAX_CLIENTS=20
IDLE_TIMEOUT_MILLIS=30000
CONNECTION_TIMEOUT_MILLIS=2000

# AUTH
# DATABASE CONNECTIONS FOR AUTH.JS ADAPTER run with `npx auth secret`
AUTH_SECRET="" # Added by `npx auth`. Read more: https://cli.authjs.dev

AUTH_GOOGLE_ID = ""
AUTH_GOOGLE_SECRET = ""

# Resend API key
AUTH_RESEND_KEY="re_"
